body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

body {
  margin: 0;
  font-family: "Source Sans Pro", "sans-serif";
  //font-family: "Trebuchet MS", sans-serif;
}

h1 {
  text-align: center;
  //font-family: "Source Sans Pro", sans-serif;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Updated header styling */
header {
  background-color: rgb(173, 103, 79);
  color: white;
  padding: 0; /* Adjust padding */
  margin: 0; /* Remove margin */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  border: none;
  font-size: 10px;
}


/* Style for h1 within the header */
header h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  font-size: 20px; /* Adjust font size */
}

/* web site logo */
.image2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 90px;
  border: none;
}
/* company logo */
.image3 {
  position: absolute;
  top: 0px;
  left: 84%;
  width: 90px;
  height: 90px;
  border: none;
}
.rectangle1 {
  position: absolute;
  top: 160px;
  //left: 132px;
  left: 0px;
  width: 100%;
  height: 68.5%;
  border: none;
  border-color: white;
  font-size: 20px;
  text-align: left;
}
.runningquotes {
  position: absolute;
  top: 90px; /* Adjust the vertical position */
  left: 0px; /* Adjust the horizontal position */
  height: 60px;
  width: calc(100% - 200px); /* Adjust the width to leave space on both sides */
  border: none;
  color: rgb(173, 103, 79);
  text-align: center;
  /* Corrected misspelling: it should be vertical-align, not vertical-aligh */
  vertical-align: middle;
}
.hamburger-menu {
  position: absolute;
  top: 120px; /* Adjust the vertical position */
  left: 0px; /* Adjust the horizontal position */
  width: 30px;
  height: 3px;  
}
.hamburger-menu p {
  position: relative;
  top: -35px;
  left: 30px; /* Adjust the horizontal position */
  font-size: 16px;
  color: #ddd;
}
/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: rgb(173, 103, 79);
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange tabs vertically */
  position: fixed; 
  top: 160px;
  //width: 155px;
  width: 155px;
  height: 200px;
  left: -1px;
  display: none;
}

/* Style the sub-tab */
.sub-tab {
  position: relative;
  float: left;
  border: 1px solid #ccc;
  background-color: rgb(173, 103, 79);
  //top:0px;
  width: auto;;
  height: auto;
  //left: 0%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: rgb(173, 103, 79);
  color: white;
  padding: 22px 16px;
  width: 100%;
  height: 1.5%;
  line-height: 1.5%;
  border: none;
  outline: none;
  text-align: left;
  vertical-align: middle;
  flex-grow: 1; /* Distribute space evenly among tab buttons */
  cursor: pointer;
  transition: 0.3s;
  //font-size: 17px;
  font-size: 100%;
}
.tab buttonDisabled
 {
  display: block;
  background-color: rgb(173, 103, 79);
  color: white;
  padding: 22px 16px;
  width: auto;
  height: 0.5%;
  line-height: 0.5%;
  border: none;
  outline: none;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  transition: 0s;
 } 

/* Style the buttons inside the sub-tab */
.sub-tab button {
  display: block;
  background-color: rgb(173, 103, 79);
  color: white;
  padding: 22px 16px;
  width: 100%;
  height: 1%;
  line-height: 1%;
  border: none;
  outline: none;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s;
  font-size: 100%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color:rgb(222, 191, 175);
  vertical-align: center;
}

/* Change background color of buttons on hover */
.sub-tab button:hover {
  background-color:rgb(222, 191, 175);
  vertical-align: center;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: rgb(222, 191, 175);
  color: black;
}

/* Create an active/current "tab button" class */
.tab buttonDisabled.active {
  background-color: rgb(222, 191, 175);
  color: black;
}

/* Create an active/current "sub-tab button" class */
.sub-tab button.active {
  background-color: rgb(222, 191, 175);
  color: black;
}

footer {
    background-color: rgb(173, 103, 79);
    color: white;
    padding: 0; /* Adjust padding */
    margin: 0; /* Remove margin */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8.2%; /* Set a fixed height */
    font-size: 12px;
}
